<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<style type="text/css">
<!--
.STYLE3 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>

<body>
<h5>Standard U.S. Dress Size</h5>
<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>Standard Size</td>
      <td colspan="4">S</td>
      <td colspan="4">M</td>
      <td colspan="4">L</td>
      <td colspan="4">XL</td>
    </tr>
    <tr>
      <td>US Size?</td>
      <td colspan="2">2</td>
      <td colspan="2">4</td>
      <td colspan="2">6</td>
      <td colspan="2">8</td>
      <td colspan="2">10</td>
      <td colspan="2">12</td>
      <td colspan="2">14</td>
      <td colspan="2">16</td>
    </tr>
    <tr>
      <td>Europe Size</td>
      <td colspan="2">32</td>
      <td colspan="2">34</td>
      <td colspan="2">36</td>
      <td colspan="2">38</td>
      <td colspan="2">40</td>
      <td colspan="2">42</td>
      <td colspan="2">44</td>
      <td colspan="2">46</td>
    </tr>
    <tr>
      <td>UK Size</td>
      <td colspan="2">6</td>
      <td colspan="2">8</td>
      <td colspan="2">10</td>
      <td colspan="2">12</td>
      <td colspan="2">14</td>
      <td colspan="2">16</td>
      <td colspan="2">18</td>
      <td colspan="2">20</td>
    </tr>
    <tr>
      <td>?　</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
    </tr>
    <tr>
      <td>Bust</td>
      <td>32 ??</td>
      <td>83 </td>
      <td>33 ??</td>
      <td>84 </td>
      <td>34 ??</td>
      <td>88 </td>
      <td>35 ??</td>
      <td>90 </td>
      <td>36 ??</td>
      <td>93 </td>
      <td>38</td>
      <td>97 </td>
      <td>39 ??</td>
      <td>100 </td>
      <td>41</td>
      <td>104 </td>
    </tr>
    <tr>
      <td>Waist</td>
      <td>25 ??</td>
      <td>65 </td>
      <td>26 ??</td>
      <td>68 </td>
      <td>27 ??</td>
      <td>70 </td>
      <td>28 ??</td>
      <td>72 </td>
      <td>29 ??</td>
      <td>75 </td>
      <td>31</td>
      <td>79 </td>
      <td>32 ??</td>
      <td>83 </td>
      <td>34</td>
      <td>86 </td>
    </tr>
    <tr>
      <td>Hips</td>
      <td>35 ??</td>
      <td>91 </td>
      <td>36 ??</td>
      <td>92 </td>
      <td>37 ??</td>
      <td>96 </td>
      <td>38 ??</td>
      <td>98 </td>
      <td>39 ??</td>
      <td>101 </td>
      <td>41 ??</td>
      <td>105 </td>
      <td>42 ??</td>
      <td>109 </td>
      <td>44 ?</td>
      <td>112 </td>
    </tr>
    <tr>
      <td>Hollow to Hem</td>
      <td>58</td>
      <td>147 </td>
      <td>58</td>
      <td>147 </td>
      <td>59</td>
      <td>150 </td>
      <td>59</td>
      <td>150 </td>
      <td>60</td>
      <td>152 </td>
      <td>60</td>
      <td>152 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
    </tr>
    <tr>
      <td>Height</td>
      <td>63</td>
      <td>160 </td>
      <td>65</td>
      <td>160 </td>
      <td>65 </td>
      <td>165 </td>
      <td>65 </td>
      <td>165 </td>
      <td>67 </td>
      <td>170 </td>
      <td>67 </td>
      <td>170 </td>
      <td>69 </td>
      <td>175</td>
      <td>69 </td>
      <td>175</td>
    </tr>
  </tbody>
</table>
<br />
<h5>Plus Size Dress Size</h5>
<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>Plus Size (US)</td>
      <td colspan="2">14W</td>
      <td colspan="2">16W</td>
      <td colspan="2">18W</td>
      <td colspan="2">20W</td>
      <td colspan="2">22W</td>
      <td colspan="2">24W</td>
      <td colspan="2">26W</td>
    </tr>
    <tr>
      <td>Europe Size</td>
      <td colspan="2">44</td>
      <td colspan="2">46</td>
      <td colspan="2">48</td>
      <td colspan="2">50</td>
      <td colspan="2">52</td>
      <td colspan="2">54</td>
      <td colspan="2">56</td>
    </tr>
    <tr>
      <td>UK Size</td>
      <td colspan="2">18</td>
      <td colspan="2">20</td>
      <td colspan="2">22</td>
      <td colspan="2">24</td>
      <td colspan="2">26</td>
      <td colspan="2">28</td>
      <td colspan="2">30</td>
    </tr>
    <tr>
      <td>?</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
      <td>inch</td>
      <td>cm</td>
    </tr>
    <tr>
      <td>Bust</td>
      <td>41</td>
      <td>104 </td>
      <td>43</td>
      <td>109 </td>
      <td>45</td>
      <td>114 </td>
      <td>47</td>
      <td>119 </td>
      <td>49</td>
      <td>124 </td>
      <td>51</td>
      <td>130 </td>
      <td>53</td>
      <td>135 </td>
    </tr>
    <tr>
      <td>Waist</td>
      <td>34</td>
      <td>86 </td>
      <td>36 ??</td>
      <td>92 </td>
      <td>38 ??</td>
      <td>98 </td>
      <td>40 ??</td>
      <td>104 </td>
      <td>43</td>
      <td>109 </td>
      <td>45 ??</td>
      <td>115 </td>
      <td>47 ?</td>
      <td>121 </td>
    </tr>
    <tr>
      <td>Hips</td>
      <td>43 ??</td>
      <td>110 </td>
      <td>45 ??</td>
      <td>116 </td>
      <td>47 ??</td>
      <td>121 </td>
      <td>49 ??</td>
      <td>126 </td>
      <td>51 ??</td>
      <td>131 </td>
      <td>53 ??</td>
      <td>136 </td>
      <td>55 ?</td>
      <td>141 </td>
    </tr>
    <tr>
      <td>Hollow to Hem</td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
      <td>61</td>
      <td>155 </td>
    </tr>
    <tr>
      <td>Height</td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
      <td>69 </td>
      <td>175 </td>
    </tr>
  </tbody>
</table>
<br />
 
</body>
</html>
